@font-face {
 font-family: Roboto;
 src: url(../fonts/web/roboto.woff2) format(woff2)
 url(../fonts/web/roboto.woff) format(woff);
}

body {
  font-family: Roboto;
  background-color: white;
  max-height: 2476px;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  margin: auto;
}
p {
 font-family: Roboto ;
}
a{
text-decoration: none;
}
nav {
  width: 100%;
  display: flex;
}
}
  img {
    max-width: 100%;
    height: auto;
}
 ul {
  list-style: none;
}
.big-padding{
  padding-left: 140px;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: inline-block;
  padding-right: 47px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 45px;
  margin-top: 40px;

  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background: #fb565a;
  border: none;

  cursor: pointer;
}
.main-header{
  background-color: #eeeeee;
  min-height: 130px;
}
.main-header-logo {
  width: 160px;
  height: 65px;
}
.site-navigation {
  min-height: 15px;
  display: flex;
  padding-left: 200px;
}

 .user-navigation {
   padding-left: 240px;
}
.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;
  vertical-align: middle;
}
.user-navigation .basket-link {
  padding-left: 50px;
  position: relative;

}
.basket-link::before {
  content: "";
  position: absolute;
   top: 27px;
   left: 24px;
  width: 16px;
  height: 16px;

   background-image: url("../svg-nerds/cart-icon.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

}
.advantages{
  background-color: #eeeeee;
  margin-bottom: 50px;
}
.advantages-item {
  display: flex;
  min-height: 430px;
}
.advantages-heading{
  font-size: 50px;

}
.advantages-button {
  display: inline-block;
  padding-right: 47px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 45px;
  margin-top: 40px;

  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background: #fb565a;
  border: none;

  cursor: pointer;
}
.products {
  margin-bottom: 85px;
  min-height: 350px;
}
.products-list {
  display: flex;
 justify-content: space-between;
  list-style: none;
  max-width: 1100px;
}
.products-item {
 width: 300px;

 min-height: 350px;
}


.index-columns{
  display: flex;
  justify-content: space-between;
  width: 1180px;
  padding-left: 140px;
}
.description {
  width: 660px;

  min-height: 370px;
}
.statistic{
  width: 380px;
  min-height: 410px;
}
.statistic-list {
  display: flex;
 justify-content: space-between;
  list-style: none;
}
.sponsors{
  margin-left: 140px;
  width: 1160px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}
.main-footer{
  margin-top: 80px;

}
.main-footer .container {
  width: 960px;
  display: flex;
  justify-content: space-between;
}
.footer-social{
  margin-right: 140px;
  margin: 0;
  width: 540px;
}
.social-sale {
  margin: 0;
  width: 260px;
}
.modal-map {
  position: relative;
}
.info {
  width: 320px;
  height: 310px;
  background-color: white;
  position: absolute;
  top: 55px;
  bottom: 60px;
  left: 140px;


  text-align: center;
}
.info-content {
  margin-top: 55px;
}
iframe{
  width: 100%;
}
.social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50px;
}
.footer-social ul {
  display: flex;
  width: 260px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
.social-sale {
  width: 600px;
}
