@font-face {
 font-family: Roboto;
 src: url("../fonts/web/roboto.woff2") format(woff2)
 url("../fonts/web/roboto.woff") format(woff);
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: white;
  max-height: 2476px;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  margin: auto;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
a{
text-decoration: none;
color: black;
}
nav {
  width: 100%;
  display: flex;
}
  img {
    max-width: 100%;
    height: auto;
}
 ul {
  list-style: none;
}
iframe {
  border: 0px;
  width: 100%;
}
.big-padding{
  padding-left: 140px;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.letter-link {
  display: inline-block;
  padding-right: 47px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 45px;
  margin-top: 40px;

  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background: #fb565a;
  border: none;

  cursor: pointer;
}
.main-header{
  background-color: #eeeeee;
  min-height: 130px;
}
.main-header-logo {
  width: 160px;
  height: 65px;
}
.main-header-logo:hover {
  opacity: 0.8;
}
.main-header-logo:active {
  opacity: 0.3;
}
.site-navigation {
  min-height: 15px;
  display: flex;
  padding-left: 200px;
}
 .user-navigation {
   padding-left: 240px;
}
.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;
  vertical-align: middle;
}
.site-navigation a:hover,
.user-navigation a:hover {
 color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
  color: #bababa;
}
.catalog-active {
  position: relative;
}
.catalog-active::before {
  content: "";
  position: absolute;
  bottom: 13px;
  width: 61px;
  height: 2px;
  background-color: #fb565a;

   background-repeat: no-repeat;
   background-position: 0 0;
}
.user-navigation .basket-link {
  padding-left: 50px;
  position: relative;

}
.basket-link::before {
  content: "";
  position: absolute;
   top: 27px;
   left: 24px;
  width: 16px;
  height: 16px;

   background-image: url("../svg-nerds/cart-icon.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

}
.slider-list{
  margin: 0;
  padding: 0;
}

.slider-controls {
  position: absolute;
  top: 315px;
  left: 645px;
  z-index: 20;

  font-size: 0;
}
.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 17px;

  vertical-align: top;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#product-1:checked ~ .site-wrapper label[for="product-1"]:before,
#product-2:checked ~ .site-wrapper label[for="product-2"]:before,
#product-3:checked ~ .site-wrapper label[for="product-3"]:before {
  content: "" ;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 4px;
  height: 4px;

  border: 2px solid #c1c1c1 ;
  border-radius: 100%;
  background-color: white;
  display: block;

}
.slider{
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 50px;
  padding-bottom: 31px;
}
#product-1:checked ~  .site-wrapper #slide1,
#product-2:checked ~  .site-wrapper #slide2,
#product-3:checked ~  .site-wrapper #slide3 {
  display: flex;
}

}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  /* background-color: red; */
}
.advantages-item {
  display: flex;
  min-height: 430px;
}
.slide {
  display: none;
}
.advantages-heading{
  font-size: 50px;

}
.advantages-button {
  display: inline-block;
  padding-right: 54px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 54px;
  margin-top: 40px;

  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background: #fb565a;
  border: none;

  cursor: pointer;
}
.advantages-button:hover {
background-color: #e74246;
}
.advantages-button:active {
  color: #e37376;
  background-color: #d7373b;
}
.products {
  margin-bottom: 85px;
  min-height: 350px;
}
.products-list {
  display: flex;
 justify-content: space-between;
  list-style: none;
  max-width: 1100px;
}
.products-item {
 width: 300px;

 min-height: 350px;
}
.red-button {
  display: inline-block;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  margin-top: 30px;

  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background: #fb565a;
  border: none;

  cursor: pointer;
}
.red-button:hover {
  background-color: #e74246;
}
.red-button:active {
  color: #e37376;
  background-color: #d7373b;
}
.green-button {
  display: inline-block;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  margin-top: 30px;

  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background: #00ca74;
  border: none;

  cursor: pointer;
}
.green-button:hover {
  background-color: #00bc6c;
}
.green-button:active {
  color: #4dc491;
  background-color: #00aa62;
}
.yellow-button {
  display: inline-block;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  margin-top: 30px;

  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background: #efc84a;
  border: none;

  cursor: pointer;
}
.yellow-button:hover {
  background-color: #eab534;
}
.yellow-button:active {
  color: #edc265;
  background-color: #e5a722;
}
.index-columns{
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  padding-left: 140px;
}
.description {
  width: 660px;

  min-height: 370px;
}
.description-text {
  margin-bottom: 50px;
}
.description-list-item {
  position: relative;
  padding-left: 6px;
}
.description-list-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -40px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;

   background-repeat: no-repeat;
   background-position: 0 0;
}
.statistic{
  width: 380px;
  min-height: 410px;
}
.statistic-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.statistic-list-heading {
  font-weight: 700;
  margin-bottom: 27px;
}
.statistic-bold-heding {
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 25px;
}
.sponsors{
  margin-bottom: 80px;
  margin-left: 140px;
  width: 1160px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}
.sponsor-logo{
opacity: 0.5;
}
.sponsor-logo:hover {
opacity: 1;
}
.sponsor-logo:active {
  opacity: 0.3;
}
.main-footer{
  margin-top: 80px;

}
.main-footer .container {
  width: 960px;
  display: flex;
  justify-content: space-between;
}
.footer-social{
  margin-right: 140px;
  margin: 0;
  width: 540px;
}
.social-sale {
  margin: 0;
  width: 260px;
}
.map {
  position: relative;
}
.letter-link:hover {
  background-color: #e74246;
}
.letter-link:active {
  color: #e37376;
  background-color: #d7373b;
}
.info {
  width: 320px;
  height: 310px;
  background-color: white;
  position: absolute;
  top: 55px;
  bottom: 60px;
  left: 140px;


  text-align: center;
}
.info-content {
  margin-top: 55px;
}
.social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50px;
  fill: #ffffff;
}
.social-button:hover {
    background-color: #e74246;
    fill: #ffffff;
}
.social-button:focus {
    background-color: #e74246;
    fill: #ffffff;
}
.social-button:active {
    background-color: #d7373b;
    fill: #e37376;
}
.footer-social ul {
  display: flex;
  width: 260px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
.social-sale {
  width: 600px;
}
.catalog-heading{
  text-align: center;
  background-color: #eeeeee;
  display: block;
  margin-top: 0px;
  padding-bottom: 117px;
}
.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 60px;
}

 legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
fieldset{
  border: none;
}
.filter ul {
  padding: 0;
  margin: 0;
}
.filter-option {
  margin-bottom: 19px;
  padding-left: 36px;
}
.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}
.filter-input + label {
  opacity: 0.3;
}
.filter-input:hover + label {
  opacity: 1;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -32px;
  top: -3px;
  width: 23px;
  height: 23px;
  background-image: url("../svg-nerds/checkbox-off.svg");
}
.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -32px;
  top: -3px;
  width: 26px;
  height: 23px;
  background-image: url("../svg-nerds/checkbox-on.svg");
}
.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -32px;
  top: -4px;
  width: 25px;
  height: 25px;
  background-image: url("../svg-nerds/radio-off.svg");
}
.filter-input-radio:checked + label::before{
  content: "";
  position: absolute;
  left: -32px;
  top: -4px;
  width: 25px;
  height: 25px;
  background-image: url("../svg-nerds/radio-on.svg");
}
 .benefits-legend {
  margin-bottom: 22px;
}
.grids-legend {
 margin-bottom: 22px;
}
.grids-fieldset{
  margin-top: 62px;
}
.filter-button {
  display: inline-block;
  margin-top: 48px;
  padding: 20px 89px;

  font: inherit;
  text-align: center;
  color: #3f3f3f;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;

  cursor: pointer;
  background-color: #eeeeee;
  border: none;
}
.filter-button:hover {
background-color: #dfdfdf;
}
.filter-button:active{
  color: #a6a6a6;
  background-color: #d5d5d5;
}
.catalog {
  width: 760px;
  padding-left: 140px;
}
.catalog-list {
display: flex;
flex-wrap: wrap;

padding: 0;
margin-top:  60px;
}
.catalog-columns{
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  width: 760px;

}
.sorting-legend  {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.sorting-filtres {
  display: flex;
  width: 360px;
  justify-content: space-between;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
}
.filter-sorting {
  /* display: block; */

  cursor: pointer;
  user-select: none;
}
.filter-sorting {
  opacity: 0.2;
}
.filter-sorting:hover {
  opacity: 0.5;
}
.filter-sorting:active {
  opacity: 1;
}
.filter-sorting:checked {
  opacity: 1;
}
.sorting-button {
  cursor: pointer;
  opacity: 0.2;
}
.sorting-button:hover {
  opacity: 0.5;
}
.sorting-button:focus {
  opacity: 1;
}
.direction {
  width: 40px;
  display: flex;
  justify-content: space-between;
}
.browser {
  opacity: 0.2;
  padding: 0;
}
.catalog-item:hover .browser {
  opacity: 1;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}
.catalog-item {
position: relative;
width: 360px;
margin-right: 40px;
margin-bottom: 33px
}
.specification{
  position: absolute;
  top: 385px;
  left: 0px;
  width: 360px;
  height: 196px;
  padding-top: 35px;
  background-color: #eeeeee;
  z-index: 2;
  text-align: center;
}
.specification-heading {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.specification-heading:hover {
  color: #fb565a;
}
.specification-heading:active {
  color: #b2b2b2;
}
.catalog-button {
  display: inline-block;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  margin-top: 10px;

  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background-color: #fb565a;
  border: none;

  cursor: pointer;
}
.catalog-button:hover {
  background-color: #e74246
}
.catalog-button:active {
  background-color: #d7373b;
}
.catalog-item .specification {
  display: none;
}
.catalog-item:hover .specification {
  display: block;
}
.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
}

.pagination-item {
  margin-right: 11px;
}
.pagination-item a {
  display: block;
  padding: 19px 21px;
  color: #000000;

  background-color: #eeeeee;
}
.pagination-item-current a {
  color: #000000;
  padding: 17px 19px;
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}
.pagination-item:last-child {
  margin-right: 0;
}
.pagination-item a:hover,
.pagination-item a:focus {
  color: #000000;
  background-color: #dfdfdf;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus {
  color: #000000;
  background-color: #dfdfdf;
}
.pagination-item a:active {
  color: #959595;

  background-color: #d5d5d5;
}
.modal {
  position: fixed;
  top: 30px;
  left: 50%;
  width: 760px;
  margin-left: -490px;
  padding: 65px 100px;
  display: none;

  color: #000000;

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.modal-show {
  display: block;
}
.modal-close {
  position: absolute;
  top: 90px;
  right: 90px;
  cursor: pointer;
  opacity: 0.4;
}
.modal-close:hover {
  opacity: 1;
}
.modal-close {
  opacity: 0.1;
}
.modal h2 {
  margin: 0;
  margin-bottom: 50px;

  font-size: 35px;
}
.modal-info {
  display: flex;
  width: 760px;
}
.username {
  display: block;
}
.email {
  padding-left: 40px;
  display: block;
}
.letter-form input[name="username"],
.letter-form input[name="email"] {
  box-sizing: border-box;
  width: 360px;
  padding: 20px 15px;
  margin-top: 13px;

  font: inherit;
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 2%;
}
textarea {
  width: 760px;
  height: 115px;
  margin-top: 13px;
   padding-top: 16px;
   padding-left: 16px;
  font: inherit;
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 2%;
}
input[name="username"]:focus,
input[name="email"]:focus,
textarea:focus {
outline: none;
}
input[name="username"]::placeholder,
input[name="email"]::placeholder,
textarea::placeholder {
  color: #a1a1a1;
}
input[name="username"]:hover,
input[name="email"]:hover,
textarea:hover {
  border: 2px solid #b4b9bb;
}

input[name="username"]:hover::placeholder,
input[name="email"]:hover::placeholder,
textarea:hover::placeholder {
  color: #a1a1a1;
}
input[name="username"]:focus,
input[name="email"]:focus,
textarea:focus {
  border: 2px solid #000000;
}
input[name="username"]:focus::placeholder,
input[name="email"]:focus::placeholder,
textarea:focus::placeholder {
  color: #444444;
}
.modal-button {
  display: inline-block;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  margin-top: 48px;

  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background-color: #fb565a;
  border: none;

  cursor: pointer;
}
.modal-button:hover {
  background-color: #e74246;
}
.modal-button:active {
  color: #e37376;
  background-color: #d7373b;
}
/* .letter-form input.modal-error {
  border: 2px solid #e74246;
} */
 .letter-form input[name="username"]:invalid,
 .letter-form input[name="email"]:invalid,
 textarea:invalid {
  border-color: #e74246;
}
